@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Regular";
}

@keyframes slide-downAndUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.container {
  max-width: 980px;
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  .container {
    padding: 0 20px;
  }
}

.button {
  display: inline-block;
  padding: 20px;
  background: #e1deda;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-family: "Montserrat Medium";
  box-shadow: -5px 5px 0px 0px #5f0737;
  transition: all, 0.1s;
}
.button:hover {
  background: #FFFFFF;
}
.button:active {
  box-shadow: -2px 2px 3px 0px #5f0737;
  transform: translate(-5px, 5px);
}
@media screen and (max-width: 580px) {
  .button {
    display: block;
    text-align: center;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.main-header {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}
.main-header__container {
  min-height: 590px;
  display: flex;
  align-items: center;
}

.main-header .slider__item {
  min-height: 590px;
}
.main-header .slider__content h1 {
  font-family: "Montserrat Medium";
  font-size: calc(35px + ( 40 - 35 ) * ((100vw - 320px) / (980 - 320)));
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
.main-header .slider__content p {
  font-size: calc(20px + ( 30 - 20 ) * ((100vw - 320px) / (980 - 320)));
  line-height: 1em;
  margin-top: 15px;
}
.main-header .slider .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
}
.main-header .slider .slick-next {
  right: 50px;
}
.main-header .slider .slick-prev {
  left: 50px;
}

.services__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: calc(40px + ( 70 - 40 ) * ((100vw - 320px) / (980 - 320)));
  padding-bottom: calc(40px + ( 70 - 40 ) * ((100vw - 320px) / (980 - 320)));
}
@media screen and (max-width: 980px) {
  .services__container {
    flex-wrap: wrap;
  }
}
.services__item {
  text-align: center;
  padding: 10px;
  transition: box-shadow, 0.5s;
  cursor: pointer;
}
.services__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: -20px;
}
@media screen and (max-width: 980px) {
  .services__item:hover {
    box-shadow: none;
    margin-top: 0;
  }
}
.services__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 980px) {
  .services__item:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (max-width: 980px) {
  .services__item {
    width: 48%;
  }
  .services__item:nth-child(1) {
    margin-bottom: 50px;
  }
  .services__item:nth-child(2) {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 480px) {
  .services__item {
    width: 100%;
  }
  .services__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
.services__item-icon img {
  width: 68px;
  margin-bottom: 40px;
}
.services__item-header {
  font-size: 20px;
  line-height: 20px;
  color: #2d2c2c;
  margin-bottom: 15px;
}
.services__item-text {
  font-size: 14px;
  line-height: 20px;
  color: #b3b3b3;
}

.store, .e-store {
  min-height: 430px;
}
.store.ibg, .ibg.e-store {
  background-position: 45% 40%;
}
.store__container, .e-store__container {
  min-height: 430px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .store__container, .e-store__container {
    justify-content: center;
  }
}
.store__content, .e-store__content {
  text-align: right;
}
@media screen and (max-width: 580px) {
  .store__content, .e-store__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.store__header, .e-store__header {
  color: #fff;
  font-size: calc(35px + ( 50 - 35 ) * ((100vw - 320px) / (980 - 320)));
  line-height: 1em;
  margin-bottom: 35px;
}
.store__button:first-child, .e-store__button:first-child {
  margin-right: 30px;
}
@media screen and (max-width: 580px) {
  .store__button:first-child, .e-store__button:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.restaurant {
  background: url("../img/u_bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 45px 0;
  margin-top: -5px;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant__header {
  font-size: calc(30px + ( 48 - 30 ) * ((100vw - 320px) / (980 - 320)));
  font-family: "Montserrat Regular";
}
.restaurant__tabs {
  margin: 40px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 460px) {
  .restaurant__tabs {
    width: 100%;
    justify-content: space-evenly;
  }
}
.restaurant__tabs-item {
  color: #000;
  font-size: 14px;
  background: #e0ddd9;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Montserrat Medium";
  transition: background, 0.5s;
}
@media screen and (min-width: 460px) {
  .restaurant__tabs-item:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 460px) {
  .restaurant__tabs-item {
    margin-top: 15px;
  }
}
.restaurant__tabs-item:hover {
  background: #FFFFFF;
}
.restaurant__content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 20px;
}
.restaurant__content-item {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 200px;
}
.restaurant__more-button {
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
}
.restaurant__more-button::after {
  content: "";
  display: block;
  background: url("../img/arrow_down.png") no-repeat;
  background-position: center;
  width: 100%;
  height: 9px;
  margin-top: 15px;
  animation: slide-downAndUp 2s ease infinite;
}
.restaurant__more-button:hover::after {
  margin-top: 15px;
}

.e-store__content {
  text-align: left;
}
.e-store__header {
  margin-bottom: 15px;
}
.e-store__subheader {
  color: #fff;
  font-size: calc(18px + ( 25 - 18 ) * ((100vw - 320px) / (980 - 320)));
  line-height: 1.5em;
  margin-bottom: 35px;
  text-align: left;
}
@media screen and (max-width: 580px) {
  .e-store__subheader {
    text-align: center;
  }
}
